---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  color:#d91616;
}

h1 {
  color:#d91616;
  font-weight: normal;
  font-size: 26px;
}

h1 a:hover, h1 a:focus, h1 a:active, h1 a:visited, h1 a:link {
  color:#d91616;
}

a:hover, a:focus, a:active, a:visited {
  font-weight: normal;
}

body {
  padding: 20px;
}

footer {
  bottom: 0;
}

footer p {
  margin: 0;
}
