---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  color:#d91616;
}

h1 a {
  color:#d91616;
}

h1 a:hover, a:focus {
  color:#d91616;
  font-weight: bold;
}

a:hover, a:focus {
  font-weight: normal;
}

body {
  padding: 20px;
}

footer {
  bottom: 0;
}

footer p {
  margin: 0;
}
